#myBtn {
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  bottom: 35px;
  padding: 1px;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  outline: none;
  position: fixed;
  right: 30px;
  text-decoration: none;
  text-align: center;
  height: 32px;
  width: 32px;
  z-index: 999;
  background-color: #e4e9ee;
}  
#myBtn:hover {
  background-color: #b9bbbe;
}
/*Link Highlight color*/
a {
  color: #33e885;
  text-decoration: none;
  background-color: transparent
}

a:hover {
  color: #33e885;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none
}
/*Body*/
body
{
  background-color: #141b24;
}
/*Headers*/
h3
{
  color: #ec5881;
}
h4
{
  color: #33e885;
}
h5
{
  color: #33e885;
}
h6
{
  color: #5c97f0;
}
/*Paragraph*/
p
{
  font-size: 16px;
}
/*Nav Bar Hover*/
.navbar-brand:hover,.navbar-brand:focus {
  border-color: #ec5881;
}
/*nav bar*/
.navbar-brand {
  display: inline-block;
  padding-top: 0.32421875rem;
  padding-bottom: 0.32421875rem;
  margin-right: 1rem;
  font-size: 1.171875rem;
  line-height: inherit;
  white-space: nowrap;
  border: 3px solid;
  border-radius: 10px;
  padding: 5px;
  border-color: #ec5881;
  color: white;
}
