.social-links
    > .link
        margin: 0
        text-decoration: none
        position: relative
        display: inline-block
        height: 35px
        width: 35px
        color: #fff

        &:hover
            > svg
                color: #2F81F7

    > svg
        transition: all ease-in-out .2s
