$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Cascadia Code", Liberation Mono, monospace

$alpha: #aaa
$beta: #ededed
$gama: #666
$delta: #3697e6
$epsilon: #222
$omega: #000
$zeta: #fff
$kappa: #1E2D24

$thin-font: 450

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
